@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900|Poppins:300,400,500,600,700');
:root {
	--color-primary: #007cae;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px !important;
    font-family: 'Montserrat', sans-serif !important;
    color: #464646 !important;
}
a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #1879fd;
}
a:active,
a:hover {
    outline: 0 none;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
.navbar-brand img {
  max-width: 100px;
}
.single-slider {
	background-image: url(../img/slider1.png);
}
/*----------------------
	2. slider area
------------------------*/
.height-100vh {
    height: 100vh;
}
.slider-area {
    position: relative;
    margin-top: 60px;
    background-color: #f7f7f7;
}
.slider-area::before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.single-slider {
    background-position: center center;
    background-size: cover;
    z-index: 99;
}
.height-100vh .container {
  display: table;
  height: 100%;
}
.height-100vh .container .slider-middle {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.pt-100 {
    padding-top: 100px
}
.pb-70 {
    padding-bottom: 70px;
}
p {
    color: #464646;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 15px;
}
/*----------------------
  4. About area
------------------------*/

.about-minimal > h2 {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.about-minimal > p {
    font-weight: 300;
}
.about-minimal ul li {
    border-top: 1px solid #f6f6f6;
    display: block;
    font-weight: 300;
    line-height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    font-family: "Poppins", sans-serif;
}
.about-minimal ul li:last-child {
    border-bottom: 1px solid #f6f6f6;
}
.about-minimal a {
  border: 1px solid #ddd;
  color: #464646;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 12px 25px 11px;
  text-transform: uppercase;
}
.about-minimal a:hover {
    background: var(--color-primary) none repeat scroll 0 0;
    border-color: #464646;
    color: #fff;
}
/*----------------------
  5. Services area
------------------------*/

.section-title h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
    text-transform: capitalize;
}
.section-title ul li {
      border-top: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6;
      line-height: 26px;
      padding: 15px 0;
      font-family: "Poppins", sans-serif;
}
.single-services i {
    color: #1c1c1c;
    font-size: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.single-services {
    padding: 35px 40px;
    transition: all 0.3s ease 0s;
    background-color: #FFF;
}
.single-services h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
.single-services li {
    color: #464646;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.single-services:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
/*............. 8. Contact area ................*/
.submit button {
    background-color: #444;
    border: 1px solid #666;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    margin-top: 35px;
    padding: 10px 40px 7px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.submit button:hover {
    background-color: transparent;
    color: #666;
    border: 1px solid #666;
}
.submit {
    text-align: center;
}
.gray-bg {
    background: #f7f7f7;
}

/* small mobile :320px. */

@media (max-width: 767px) {
    .about-minimal .mb-40 {
        margin-bottom: 10px;
    }
    .mt-70 {
        margin-top: 70px;
    }
}