{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>The board of the Arlington School Administrators invites you to become a member of this dynamic organization!</p>
{% endblock %}
