{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title> {% block title %}Arlington School Administrators{% endblock %}</title>

    {% include 'head_css.html' %}

    <style>
      {% block style %}{% endblock %}
    </style>
  </head>

  <body>
    {% include 'header.html' %}
      {% block content %} {% endblock %}
    {% include 'javascript.html' %}
  </body>
</html>
