{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<h2>Contact Our Board of Directors</h2>
<p>President Dr. Barbara Thompson</p>
<p>Past President</p>
<p>Secretary</p>
<p>Professional Development/Programs</p>
<p>etc.</p>
{% endblock %}
