{% load static %}

<style type="text/css">
{% block style %}
  .navbar-default {
    background-color: var(--color-primary);
  }
  .navbar-brand {
    padding: 5px;
  }
  .navbar-nav > li > a {
    line-height: 30px;
  }
  .navbar-toggle {
    margin-top: 12px;
    margin-bottom: 15px;
  }
  .navbar-default .navbar-nav > li > a {
    color: #FFF;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
  }
{% endblock %}
</style>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/Logo_white.png' %}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#about-area">About</a></li>
        <li><a href="#contact-area">Contact</a></li>
        <li><a href="#">Events</a></li>
        {% if request.user.is_authenticated  and request.user.is_staff %}
        <li><a href="{% url 'signups' %}">Newsletters</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'registration_register' %}">Register</a></li>
      {% endif %}
      </ul>
       {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
      <form class="navbar-form navbar-right" method='POST' action="{% url 'auth_login' %}">{% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
