{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block title %}Welcome | {{ block.super }} {% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<!-- Home Area
============================================ -->
<section id="home-area" class="slider-area">
    <div class="single-slider height-100vh">
        <div class="container">
        </div>
    </div>
    <div class="scroll-icon">
        <a class="scroll-down" href="#portfolio-area"><i class="fa fa-angle-double-down infinite animated fadeInDown"></i></a>
    </div>
</section>
<section id="about-area" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-minimal">
                    <h2>WELCOME TO <strong>ASA</strong></h2>
                    <p>The Board of the Arlington School Administrators invites you to become 
                        a member of this dynamic organization.</p>
                    <p>ASA is the Arlington Public Schools professional organization representing 
                        P-Scale and E-Scale administrators.</p>
                    <p>ASA serves all P/E-Scale administrators through professional opportunities, 
                        legal assistance, professional support, representation of employment concerns 
                        and an inclusive spirit of camaraderie and networking opportunities.</p>
                    <ul class="mb-40">
                        <li>Dues are $15 per pay period as a payroll deduction</li>
                        <li>
                            ASA is a non-profit organization, exempt from federal income tax under section 501(c)(5)
                             of the internal Revenue Code. ASA Professional Membership dues are tax deductible. To 
                             become a member you must complete the payroll deduction form and send it to the APS Payroll Supervisor.
                        </li>
                    </ul>
                    <a href="#" class="mb-40">Learn More</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="minimal-img">
                    <img src="{% static 'img/social_network.png' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="service-area" class="services-area gray-bg pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Opportunities &amp; Service</h2>
            <ul class="mb-40">
                <li>ASA members pay dues of $15 per day period and receive the following benefits:</li>
            </ul>    
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="text-center">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <h3>Professional Opportunities</h3>
                    </div>
                    <ul style="list-style-type:square">
                        <li>Reimburses conference travel</li>
                        <li>Provides stipends for conferences</li>
                        <li>Present distinguished speakers</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="text-center">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h3>Service to Members</h3>
                    </div>
                     <ul style="list-style-type:square">
                        <li>Collects &amp; presents P-Scale concerns</li>
                        <li>Participates &amp; advocates in Administrative Forum</li>
                        <li>Provides legal Assistance (up to $10,000)</li>
                        <li>Presents seminars
                            <ul style="padding-left: 20px;">
                                <li>- Financial</li>
                                <li>- Retirement</li>
                                <li>- Instructional</li>
                                <li>- Personal Growth</li>
                            </ul>
                        </li>
                        <li>Shares information and news
                            <ul style="padding-left: 20px;">
                                <li>- Newsletter</li>
                                <li>- Email Updates</li>

                            </ul>
                        </li>
                        <li>Offers support from ASA Board &amp; Director</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-services mb-30">
                    <div class="text-center">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3>An Inclusive Spirit of Camaraderie &amp; Networking Opportunities</h3>
                    </div>
                    <ul style="list-style-type:square">
                        <li>Sponsors:
                            <ul style="padding-left: 20px;">
                                <li>- Administrative Conference Social</li>
                                <li>- Holiday Party</li>
                                <li>- Spring Reception &amp; Retirement Event</li>
                            </ul>
                        </li>
                        <li>Awards Student Scholarships</li>
                        <li>Represents administrators with:
                            <ul style="padding-left: 20px;">
                                <li>- School Board</li>
                                <li>- Civic Groups</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact-area" class="contact-area pt-100 pb-70">
    <div class="container">
         <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="section-title text-center mb-50">
                  <h2>Subscribe Newsletter</h2>
                  <h2>{{ title }}</h2>
                </div>
                <form id="contact-form" action="." method="POST">
                    {% csrf_token %}
                    <div class="all-contact-text">
                        <div class="col-sm-6 col-xs-12">
                            {{ form|crispy }}
                        <div class="col-xs-12">
                            <div class="submit">
                                <button type="submit">
                                    <span>Sign Up</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="section-title text-center mb-50 mt-70">
              <h2>Contact Us</h2>
            </div>
            <p>
                If you are interested in Joining and would like more information about ASA or an electronic 
                copy of the payroll deduction form contact:
                <ul>
                    <li>Susan Robinson - <a href="tel:7037857571">703-785-757</a></li>
                    <li>Email : <a href="mailto:susangrobinson@gmail.com">susangrobinson@gmail.com</a></li>
                </ul>
            </p>
        </div>
    </div>
</section>
<footer class="footer-area ptb-40">
    <div class="container">
        <div class="copyright">
            <p>
                Copyright © 2019
                <a href="https://novawebdevelopment.org/" target="_blank">Nova Web Development</a>
                . All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
{% endblock %}

