{% extends 'base.html' %}
  
{% block title %}Newsletter{% endblock %}

{% block content %}
<p>ASA has a newsletter! Subscribe for email updates <a href="{% url 'newsletter:subscribe' %}">here</a>.</p>
{% endblock %}

