{% extends 'base.html' %}

{% block content %}
<div class="container pt-100">
{% if request.user.is_authenticated and request.user.is_staff %}
 
  {% if queryset %}
  <h2>Welcome Staff</h2>
<!--    {{ request.user.is_staff }} -->
   <table class="table">
   {% for instance in queryset %}
   	 <tr>
   	 	<td>{{ forloop.counter }}</td>
   	 	<td>{{ instance.email }}</td>
   	 	<td>{{ instance.full_name }}</td>
   	 	<td>{{ instance.timestamp|timesince }} ago</td>
   	 </tr>
   {% endfor %}
   </table>
  {% endif %}
{% else %}
<h1>Sorry! you're not an authorized user</h1>

{% endif %}
</div>
{% endblock %}