{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container pt-100">
<p class='text-align-center lead'>You have successfully logged out.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Login</a></p></p>
</div>
{% endblock %}
