{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container pt-100">
<p class='lead text-align-center'>{% trans "Email with password reset instructions has been sent." %}</p>
</div>
{% endblock %}
